body {
    width: 90%;
    margin: 0 auto;
    }

#content {
    overflow: auto;
    }

#nav, #feature, #footer {
    margin: 1%;
    }

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;
    }

.column3 {
    margin-right: 0%
    }

li {
    display: inline;
    padding: 0.5em;
    }

#nav {
    background-color: #efefef;
    padding: 0.5em 0;

    }
    
#footer {
        background-color: #efefef;
        padding: 0.5em 0;
        }
#feature, .article {
    height: 10em;
    margin-bottom: 1em;
    text-align: center;
    }

#feature {
    font-family:fantasy;
    font-size: 18px;
    font-weight: bold;
}
  

      
  h1 {
    font-family: 'Vogue', serif;
    font-weight: normal;
    font-size:xx-large;
  
     }

           
  h2 {
    font-family: 'Vogue', serif;

    font-size: 22px;
    font-weight: normal;
    text-align: center;
  
     }

     h3 {
        font-family: 'Vogue', serif;

        font-size: 18px;
        font-weight: normal;
        text-align: center;
      
         }

     p {
        font-family:'Belleza-Regular', sans-serif; 
        font-size: 14px;
      }



   .navigation {
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: auto;
    border-bottom: thin solid #292727;
    justify-content: flex-end;
    
   }

   /* .right {
       align-content: flex-end;
       align-items: right;

   }
   */

   .right{
    /* height: 200px; */
    /* float: right; */
    /* justify-items: right; */
    align-items: right;
    /* width: 220px; */
    /* margin-right: 5px;
    padding-right: 5px;
    */
  

  }


   .navigation a{

    padding-right: 20px;
    font-family:'Belleza-Regular', sans-serif; 
    font-size: 16px;
    text-decoration: none;
    color: #7B7B80;
}

  
    /* target the class of bottomnav below */
    .bottomnav {
        
        font-family:'Belleza-Regular', sans-serif; 
        font-size: 16px;
        text-align: center;
        
        display: flexbox;
        margin-top: 300px;
        margin-left: auto;
        margin-right: auto;
        text-justify:auto; 
        text-decoration: none;
        color: #7B7B80;

    }

    .bottomnav a{
        padding-right: 20px;
        font-family:'Belleza-Regular', sans-serif; 
        font-size: 16px;
        font-weight: normal;
        text-decoration: none;
        color: #7B7B80;

    }


    @font-face {
        font-family: 'Belleza-Regular';
        src: url(../fonts/Belleza-Regular.ttf) format('truetype');
      }
    
      @font-face {
        font-family: 'Vogue';
        src: url(../fonts/Vogue.ttf) format('truetype');
      }

      /* per holly video another way of typing in
      the padding space in the long version would
      be the example of padding below. The above
      version says ok you want to apply this padding
      all the way around of this container.
      Padding is on the Inside
      Margin is on the outside 
      padding-top: 200px;
      padding-right: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      text-decoration: none; */
    